<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="waves-effect waves-light btn-floating btn-large social linkedin" href="https://www.linkedin.com/in/jessicabrawner/">
                <i class="fa fa-linkedin"></i> Sign in with linkedin</a></li>
            <li><a class="waves-effect waves-light btn-floating btn-large social envelope" href="jessicabrawner@rocketmail.com">
                <i class="fa fa-envelope"></i> Sign in with email</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
     Jessica Brawner, 2017 
      </div>
    </div>
</footer>